<script>
$(function(){
	$("#selectall").click(function(){
	$("input[type='checkbox']").prop("checked", true);
	setOrder();
	});
	
	$("#deselectall").click(function(){
	$("input[type='checkbox']").prop("checked", false);
	setOrder();
	});
	
	
	
	/*$("#addlink").click(function(){
		$("#linkinfo").toggle();
		$("#picupload").hide();
		});
		$("#addpic").click(function(){
			$("#picupload").toggle();
			$("#linkinfo").hide();
		})*/
});

function fillData() {
	var selected = new Array();
	var product_name =$("#product_name").val();
	var product_desc =$("#product_desc").val();
	var links =$("#link").val(); 
	var linkTitle =$("#linkTitle").val();

	   $("input[type=checkbox]:checked").each(function() {
       selected.push($(this).val());
		});
		
		if(selected.length==0)
		{
			alert("Please check atleast one checkbox!");
			return false;
		}
		
		else if(product_name=="" || product_name==null) {
			alert("Please fill product name!");
			return false;
			
		}
		
		else if(product_desc=="" || product_desc==null) {
			alert("Please fill product description!");
			return false;
			
		}	
		/*else if(links=="" || links==null || links=='http://') {
			alert("Please give a link!");
			return false;
			
		} 
		
		else if(linkTitle=="" || linkTitle==null ) {
			alert("Please give a link title!");
			return false;
			
		} */
		$(".custom_btn").attr("href","/orders?order%5Bamount%5D=20&amp;order%5Bdescription%5D=Post");
		
}	

function setOrder()
{
	var selected = new Array();
	 $("input[type=checkbox]:checked").each(function() {
   selected.push($(this).val());
	});
	
	var product_name =$("#product_name").val();
	var product_desc =$("#product_desc").val();
	var links =$("#link").val(); 
	var linkTitle =$("#linkTitle").val();
	$.ajax({
			url:"putCheckBox",
			data:{type:selected,productName:product_name,productDesc:product_desc,links:links,linkTitle:linkTitle},
			type:'GET',
			success:function(result){
				}
		
		});	
}

function readImage(input) {
    if ( input.files && input.files[0] ) {
        var FR= new FileReader();
        FR.onload = function(e) {
        uploadImage(e.target.result);
        };       
        FR.readAsDataURL( input.files[0] );
    }
}


function uploadImage(img)
{

$data = img.split(',');	
$.ajax({
	url:"putImage",
	data:{data: $data[1],current_user: $("#current_user").val()},
	type:'POST',
	success:function(result){
		}

});	
}


$(function(){
$("#upload_file").change(function(){
$img = readImage( this );
});


});	
	
</script>

<input type="hidden" id="current_user" value="<%=session[:user_tbl_id]%>"/>

<div class="page-wrap">
<section class="inner_heading_part">
      
     <h2>Post to Multiple (Groups)</h2>
     
</section>
<div class="container"> 
		
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				
				
				<form class="form-horizontal upload-post"  action="putCheckBox" method="post" > 
				
				<div class="form-group">				
					<label for="inputEmail3" class="col-sm-4 control-label">Product Name</label>					
					<div class="col-sm-8">
						<!-- <input type="text" class="form-control" id="exampleInputPassword1"> -->
						 <textarea class="form-control" rows="3" name="product_name" id="product_name" required onBlur="setOrder()"></textarea>
					</div>
				  </div>
				  <div class="form-group">
					<label for="inputEmail3" class="col-sm-4 control-label">Product Description<br/></label>
					<div class="col-sm-8">
					 <textarea class="form-control" rows="3" name="product_desc" id="product_desc" required onBlur="setOrder()"></textarea>
					</div>
				  </div>
				 <!-- <div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<i class="fa fa-plus-circle"></i><a href="#" id="addlink"> Add link |</a>
						<a href="#" id="addpic"> Add image</a>
					</div>
				  </div> -->
				  
				  
				  <div  id="linkinfo" >
					  <div class="form-group" >
							<label class="col-sm-4 control-label">Link</label>
							<div class="col-sm-8">
							 <input type="text" class="form-control" id="link" name="link" value="" onBlur="setOrder()" />
							 
							</div>
				     </div>	
				     
				     <!-- <div class="form-group">		
							<label class="col-sm-4 control-label">Sub Title </label>
							<div class="col-sm-8">
							 <input type="text" class="form-control" name="linkTitle" id="linkTitle" onBlur="setOrder()" />
							 </div>
				       </div> -->
				     
				     
				    </div> 
				   
				     <div class="form-group">	<label class="col-sm-4 control-label">Upload Image</label>  			 
						<div class="col-sm-4"></div>	 
							<div class="col-sm-8">
								<div id="picupload" class="upload-picture" style="display:block;">
									<input name="file" id="upload_file" class="form-control" type="file"/>
								</div>
							</div>
						</div>	
					
					 <div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<!--
					  <button type="submit" class="btn btn-success" >Post</button> -->
					  
					  
					  <a rel="nofollow" onclick="return fillData()" data-method="post" class="btn  custom_btn" href="javascript:;">Post</a>
					</div>
				  </div>
				  </div>
				  
				  
			
				
			
			<div class="col-sm-6 col-xs-12">
				
					<div class="form-group">
						<div class="col-sm-12">
							<h4>Select Groups to Post to:</h4>
							<div class="pull-right right_section">
								<a href="javascript:void(0)" id="selectall">select all -</a>
								<a href="javascript:void(0)" id="deselectall">Deselect all</a>
								<br/>
								
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="mang_width">
								<div id="ugroups">
									<% if @likes %>
										<% for like in @likes %>
									
									<div class="gdiv">
										<input type="checkbox" id="<%=h like["id"]%>" name="usergroups[<%=h like["id"]%>]" value="<%=h like["id"]%>" onClick="setOrder()" /> 
										<label for="<%=h like["id"]%>">
											<span class="gname"><%=h like["name"]%></span>
										</label>
									</div>
									
									<% end %>
									<% end %>
											
								</div>
							</div>
						</div>
					</div>	
					
					</form>			
				
			</div>
		</div>
    </div> <!-- /container -->
</div>
    </div> <!-- /container -->

