<div class='container' id='content'>
	  <div class="row">
	    <h1>Orders</h1>
	    
	    <% if(@latestOrder.state=="approved") %>
	    
	       <div class="alert alert-success text-center">
			  Thank you for your order, you post has been submitted!
			</div>
			
		<% elsif(@latestOrder.state=="cancelled") %>
		
			 <div class="alert alert-success text-center">
			  Your order have cancelled!
			</div>
		<% end %>
    
	  
      <div class="col-md-12">
      
   
      <table class='table table-bordered table-hover'>
        
        <tr>
           <th>Payment ID</th>
           <td><%= @latestOrder.payment_id  %></td>
       </tr>
        <tr>
           <th>Amount($)</th>
           <td><%= @latestOrder.amount  %></td>
       </tr>
        <tr>
            <th>Payment Status</th>
           <td><%= @latestOrder.state  %></td>
       </tr>
        <tr>
           <th>Time</th>
           <td><%= @latestOrder.created_at  %></td>
       </tr>
        <tr>
           <th>Description</th>
           <td><%= @latestOrder.description  %></td>
       </tr>
         
      </table>
    </div>    
    
		 <div class="clearfix"></div><br/><br/>
    
    </div>   
    </div>
        
        
 
