<div class='container' id='content'>
	  <div class="row">
	    <h1>Orders</h1>
	    
	    <% if(@latestOrder.state=="approved") %>
	    
	       <div class="alert alert-success text-center">
			  Thanks You have post Successfully!
			</div>
			
		<% elsif(@latestOrder.state=="cancelled") %>
		
			 <div class="alert alert-success text-center">
			  Your order have cancelled!
			</div>
		<% end %>
    
	  
      <div class="col-md-12">
      
   
      <table class='table'>
        <thead>
          <tr>
            <th>Payment ID</th>
            <th>Amount($)</th>
            <th>Payment Status</th>
            <th>Time</th>
            <th>Description</th>
            
          </tr>
        </thead>
        <tbody>
        
        
        
          <tr>
            <td><%= @latestOrder.payment_id  %></td>
            <td><%= @latestOrder.amount  %></td>
            <td><%= @latestOrder.state  %></td>
            <td><%= @latestOrder.created_at  %></td>
            <td><%= @latestOrder.description  %></td>
           
          </tr>
          
          
          
          
        </tbody>
      </table>
    </div>    
    
		 <div class="clearfix"></div><br/><br/>
    
    </div>   
    </div>
        
        
 
